*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(58, 58, 60);
    color: #333;
}
.container{
    margin: 40px auto;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(58, 58, 60);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.3s;
}
.flex{
    display: inline-flex;
    justify-content:center;
    align-items: center;
}
.twitter:hover{
background: #1da1f2;
}
.facebook:hover{
background: #4267B2;
}
.instagram:hover{
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
